*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.wrapper {
  width: auto;
  display: block;
}

/* main{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
} */
header{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.beasts-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.card {
  margin: 1rem;
}

.card-deck {
  justify-content: center;
}

.heart .btn-link {
  text-decoration: none;
  border: none;
  background-color: none;
}

.heart .btn-link:focus,
.heart .btn-link:active {
  outline: none !important;
  box-shadow: none;
}


footer{
  bottom: 0;
  text-align: center;
  height: 50px;
  width:100%;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}
.card-deck{
  display: flex;
  flex-wrap: wrap ;
}
.beasts-container {
  display: grid;
  grid-template-columns: repeat(4, auto);}

  /* div {
    display: block;
} */
/* .card{
  border: 2px solid #222;
} */